body{
    background-color: beige;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
button{
    border: 1px solid black;
    border-radius: 10px;
}
h1{
    color: rgb(252, 179, 252);
    background-color: azure;
}